<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>회원가입</title>
		<link rel="stylesheet" href="/css/member/signUp.css">
		<script src="/js/member/signUp.js" defer="defer"></script>
	</head>
	<body>
		<main>
			<h3>일반 회원가입</h3>
			<section>
				<hr>
				<h2>회원정보 입력</h2>
				<form action="/member/signUp" method="post">
					<div id="errorContainer"></div>
					<table class="tbl-signUp">
						<caption style="display: none">회원 기본정보</caption>
						<colgroup>
							<col style="width: 175px;">
							<col style="width: 250px;">
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									<label>이름</label>
								</th>
								<td>
									<input name="name" id="name" maxlength="30" placeholder="홍길동" type="text" required="required">
									<p class="error-message" id="nameError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>닉네임</label>
								</th>
								<td>
									<input name="nickName" id="nickName" maxlength="30" placeholder="별명" type="text" required="required">
									<p class="error-message" id="nickNameError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>이메일</label>
								</th>
								<td>
									<input name="email" id="email" maxlength="50" placeholder="example@gmail.com" type="text" required="required">
									<p class="error-message" id="emailError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>비밀번호</label>
								</th>
								<td>
									<input name="password1" id="password1" maxlength="50" placeholder="8자 이상의 영문 대소문자/숫자/특수문자 조합)" type="password" required="required">
									<p class="error-message" id="password1Error"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>비밀번호 확인</label>
								</th>
								<td>
									<input name="password2" id="password2" maxlength="50" type="password" required="required">
									<p class="error-message" id="password2Error"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>생년월일</label>
								</th>
								<td>
									<input name="birth" id="birth" type="date" required="required">
									<p class="error-message" id="birthError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>전화번호</label>
								</th>
								<td>
									<input name="phone" id="phone" maxlength="11"  placeholder="'-' 없이 숫자만 입력" type="text" required="required">
									<p class="error-message" id="phoneError"></p>
								</td>
							</tr>
							<tr>
								<td>
									<button type="button" id="signUpForm">회원가입</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</section>
		</main>
	</body>
</html>