<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<main style="max-width: 850px;">
		<h2>회원정보 입력</h2>
		<table>
			<tbody>
				<tr>
					<td>
						<input maxlength="30" placeholder="이름" type="text">
					</td>
				</tr>
				<tr>
					<td>
						<input type="text">
					</td>
				</tr>
				<tr>
					<td>name</td>
					<td></td>
				</tr>
				<tr>
					<td>nickName</td>
					<td></td>
				</tr>
				<tr>
					<td>age</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>