<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>회원가입</title>
		
		<style>
			.tbl-signUp th {
				text-align: left;
			}
			
			.tbl-signUp p {
				font-size: 12px;
				color: red;
			}
			
			.tbl-signUp input {
				border: 1px solid gray;
				outline: none;
			}
		</style>
		
		<script>
		document.addEventListener('DOMContentLoaded', function() {
			document.getElementById('signUpForm').addEventListener('click', function(event) {
				event.preventDefault(); // 기본 폼 제출 방지
				
				const memberSignUpDto = {
					name: document.getElementById('name').value,
					nickName: document.getElementById('nickName').value,
					email: document.getElementById('email').value,
					password1: document.getElementById('password1').value,
					password2: document.getElementById('password2').value,
					birth: document.getElementById('birth').value,
					phone: document.getElementById('phone').value
				};
				
				fetch('/member/signUp', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(memberSignUpDto)
				})
				.then(response => {
					if (!response.ok) {
						return response.json().then(errors => {
							showErrors(errors); // 뷰에서 표시할 에러 메세지
							
							if (errors.errorCode === 3000) { // 커스텀 에러 메세지가 있는 경우
								alert(errors.errorMessage);
							}
						});
					}
					
					return response.json();
				})
				.then(data => {
					alert(data.message);
				})
				.catch(error => {
					console.error('Error: ', error);
				});
			});
				
			function showErrors(errors) {
				/* 모든 에러 메세지 공간 초기화 */
				document.getElementById('nameError').innerText = "";
				document.getElementById('nickNameError').innerText = "";
				document.getElementById('emailError').innerText = "";
				document.getElementById('password1Error').innerText = "";
				document.getElementById('password2Error').innerText = "";
				document.getElementById('birthError').innerText = "";
				document.getElementById('phoneError').innerText = "";
				
				/* 각 필드에 해당하는 에러 메세지 표시 */
				/* 이름 */
				if (errors.name) { // errors.name이 존재하는지 확인
					document.getElementById('nameError').innerText = errors.name; // p태그에 name 에러 메세지 표기
					/* 유효성 검사에 걸릴 시 input 테두리 색상 변경 */
					const inputName = document.getElementById('name'); // input id="name" 선택
					inputName.style.border = '1px solid red'; // 입력 박스에 빨간 테두리 추가 (오류가 있을 시 보여줄 테두리 색)
				}else { // 오류가 없을 경우
					const inputName = document.getElementById('name');
					inputName.style.border = ''; // 테두리 색상 초기화 (기본)
				}
				
				/* 닉네임 */
				if (errors.nickName) {
					document.getElementById('nickNameError').innerText = errors.nickName;
					
					const inputNickName = document.getElementById('nickName');
					inputNickName.style.border = '1px solid red';
				}else {
					const inputNickName = document.getElementById('nickName');
					inputNickName.style.border = '';
				}
				
				/* 이메일 */
				if (errors.email) {
					document.getElementById('emailError').innerText = errors.email;
					
					const inputEmail = document.getElementById('email');
					inputEmail.style.border = '1px solid red';
				}else {
					const inputEmail = document.getElementById('email');
					inputEmail.style.border = '';
				}
				
				/* 비밀번호 */
				if (errors.password1) {
					document.getElementById('password1Error').innerText = errors.password1;
					
					const inputPassword1 = document.getElementById('password1');
					inputPassword1.style.border = '1px solid red';
				}else {
					const inputPassword1 = document.getElementById('password1');
					inputPassword1.style.border = '';
				}
				
				/* 비밀번호 확인 */
				if (errors.password2) {
					document.getElementById('password2Error').innerText = errors.password2;
					
					const inputPassword2 = document.getElementById('password2');
					inputPassword2.style.border = '1px solid red';
				}else {
					const inputPassword2 = document.getElementById('password2');
					inputPassword2.style.border = '';
				}
				
				/* 생년월일 */
				if (errors.birth) {
					document.getElementById('birthError').innerText = errors.birth;
					
					const inputBirth = document.getElementById('birth');
					inputBirth.style.border = '1px solid red';
				}else {
					const inputBirth = document.getElementById('birth');
					inputBirth.style.border = '';
				}
				
				/* 전화번호 */
				if (errors.phone) {
					document.getElementById('phoneError').innerText = errors.phone;
					
					const inputPhone = document.getElementById('phone');
					inputPhone.style.border = '1px solid red';
				}else {
					const inputPhone = document.getElementById('phone');
					inputPhone.style.border = '';
				}
			}
		});
		</script>
		
	</head>
	<body>
		<main>
			<h3>일반 회원가입</h3>
			<section>
				<hr>
				<h2>회원정보 입력</h2>
				<form action="/member/signUp" method="post">
					<div id="errorContainer"></div>
					<table class="tbl-signUp">
						<caption style="display: none">회원 기본정보</caption>
						<colgroup>
							<col style="width: 175px;">
							<col style="width: 250px;">
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									<label>이름</label>
								</th>
								<td>
									<input name="name" id="name" maxlength="30" placeholder="홍길동" type="text" required="required">
									<p class="error-message" id="nameError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>닉네임</label>
								</th>
								<td>
									<input name="nickName" id="nickName" maxlength="30" placeholder="별명" type="text">
									<p class="error-message" id="nickNameError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>이메일</label>
								</th>
								<td>
									<input name="email" id="email" maxlength="50" placeholder="example@gmail.com" type="text">
									<p class="error-message" id="emailError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>비밀번호</label>
								</th>
								<td>
									<input name="password1" id="password1" maxlength="50" placeholder="8자 이상의 영문 대소문자/숫자/특수문자 조합)" type="password">
									<p class="error-message" id="password1Error"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>비밀번호 확인</label>
								</th>
								<td>
									<input name="password2" id="password2" maxlength="50" type="password" required="required">
									<p class="error-message" id="password2Error"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>생년월일</label>
								</th>
								<td>
									<input name="birth" id="birth" type="date">
									<p class="error-message" id="birthError"></p>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label>전화번호</label>
								</th>
								<td>
									<input name="phone" id="phone" maxlength="11"  placeholder="'-' 없이 숫자만 입력" type="text" required="required">
									<p class="error-message" id="phoneError"></p>
								</td>
							</tr>
							<tr>
								<td>
									<button type="button" id="signUpForm">회원가입</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</section>
		</main>
	</body>
</html>